@font-face {
  font-family: 'Funkis';
  src: url('../Fonts/FunkisMAUDemoGX.ttf');
}

html {
  box-sizing: border-box;
  height: 100%;
}

html, body {
  padding: 0;
  margin: 1em;
  height: 100%;
  background-color: antiquewhite;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ----------GRID DIVS---------- */

.gridDiv1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto ;
  padding: 10px;
}

.gridDiv2 {
  display: grid;
  grid-template-columns: 8.6em 8.6em 8.6em;
  grid-template-rows: 10em 4em 10em;
  padding: 10px;
}

/* ----------GRID ITEMS---------- */

#gridItemTop {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

#gridItemLeft {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#gridItemRight {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

#gridItemMiddle {
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#gridItemBottom {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.gridItemArch {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.gridItemStar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}


/* ----------VARIABLE FONT---------- */

#pangram {
  font-variation-settings: 'wght' 50;
  text-align: right;
  font-size: 1.2em;
  font-family: 'Funkis';
  text-rendering: geometricPrecision;
  /*font-size: 4em;*/
  text-shadow: 0 0; /* a hack needed to improve rendering */
}

#pangram2 {
  font-variation-settings: 'wght' 50;
  text-align: right;
  font-size: 1.2em;
  font-family: 'Funkis';
  text-rendering: geometricPrecision;
  /*font-size: 4em;*/
  text-shadow: 0 0; /* a hack needed to improve rendering */
}