html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #13292F;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 100%;
  height: 100%;
}
h1 {
  color: #4D7EA5;
  text-align: center;
  padding-bottom: 100px;
}

h2 {
  color: #4D7EA5;
  text-align: left;
}

a, a:link, a:visited {
  color: #4D7EA5;
}

a:hover {
  color: #D5E1E2;
}