@font-face {
    font-family: 'Funkis';
    src: url('../Fonts/FunkisMAUDemoGX.ttf');
  }
  
  html {
    box-sizing: border-box;
    height: 100%;
  }
  html,
  body {
    padding: 0;
    margin: 1em;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  #button1 {
    width: 600px;
    height: 200px;
    position: absolute;
    margin-left: -400px;
    
    background: transparent;
    border: none !important;
    font-size:0;
  }

  #button2 {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 1200px;
    height: 100px;
    background: transparent;
    border: none !important;
  }

  #button3 {
    position: absolute;
    margin-left: 500px;
    width: 600px;
    height: 200px;
    background: transparent;
    border: none !important;
  
  }

  #button4 {
    position: relative;
    width: 1200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 10px;
    background: transparent;
    border: none !important;
  }
  
  #container {
    position: absolute;
    margin-top: -250px;
    margin-bottom: -250px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  #pangram {
    font-variation-settings: 'wght' 50;
    font-size: 6em;
    font-family: 'Funkis';
    text-rendering: geometricPrecision;
    /*font-size: 4em;*/
    text-shadow: 0 0; /* a hack needed to improve rendering */
  }