@font-face {
  font-family: "Funkis";
  src: url("FunkisMAUDemoGX.ttf");  
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Funkis",sans-serif;
  padding: 0;
  margin: 1em;
  height: 100%;
}

h1 {
  font-family: "Funkis", sans-serif;
  text-align: center;
  font-size: 8em;
}

#basic {
  font-family: "Funkis", sans-serif;
  text-align: right;
  text-rendering: geometricPrecision;
  font-size: 4em;
  font-variation-settings: "wght" 200, "wdth" 0;
  text-shadow: 0 0;
}