@font-face {
  font-family: "Funkis";
  src: url("../Fonts/FunkisMAUDemoGX.ttf");
}

html {
  box-sizing: border-box;
}

html, body {
  background-color: whitesmoke;
  margin: 1em;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  font-family: "Funkis", sans-serif;
}



/* The style for the standard div */
#theText {
  font-family: "Funkis", sans-serif;
  padding-bottom: 25px;
  text-align: center;
  font-size: 3em;
  text-rendering: geometricPrecision;
  font-variation-settings: 'term' 100, 'wdth' 0, 'wght' 50;
  text-shadow: 0 0;
  /* a hack needed to improve rendering */
}

/* Custom div for animTerm */
#otherText {
  font-family: "Funkis", sans-serif;
  padding-bottom: 25px;
  text-align: center;
  font-size: 3em;
  text-rendering: geometricPrecision;
  font-variation-settings: 'term' 0, 'wdth' 0, 'wght' 50;
  text-shadow: 0 0;
  /* a hack needed to improve rendering */
}



/* Terminals only */
#animTerm:hover {
  animation-name: long;
  animation-duration: 2000ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes long {
  0% {
    font-variation-settings: "term" 100, 'wdth' 0, 'wght' 50;
  }
  100% {
    font-variation-settings: "term" 0, 'wdth' 0, 'wght' 50;
  }
}

/* Terminals and width */
#animTermWdth:hover {
  animation-name: longer;
  animation-duration: 2000ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes longer {
  0% {
    font-variation-settings: "term" 0, 'wdth' 0, 'wght' 50;
  }
  100% {
    font-variation-settings: "term" 100, 'wdth' 100, 'wght' 50;
  }
}



/* Terminals - ALWAYS */
#animTermAlways {
  animation-name: automatic;
  animation-duration: 1500ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes automatic {
  0% {
    font-variation-settings: "term" 0, 'wdth' 0, 'wght' 50;
  }
  100% {
    font-variation-settings: "term" 100, 'wdth' 0, 'wght' 50;
  }
}

/* Terminals and width - ALWAYS */
#animTermAlways:hover {
  animation-name: automatic2;
  animation-duration: 2000ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes automatic2 {
  0% {
    font-variation-settings: "term" 0, 'wdth' 0, 'wght' 50;
  }
  100% {
    font-variation-settings: "term" 100, 'wdth' 100, 'wght' 50;
  }
}



/* Terminals - ALWAYS */
#animTermWdthWght {
  animation-name: automatic3;
  animation-duration: 1500ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes automatic3 {
  0% {
    font-variation-settings: "term" 0, 'wdth' 0, 'wght' 50;
  }
  100% {
    font-variation-settings: "term" 100, 'wdth' 0, 'wght' 50;
  }
}

/* Terminals and width - ALWAYS */
#animTermWdthWght:hover {
  animation-name: automatic4;
  animation-duration: 2000ms;
  animation-delay: 10ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes automatic4 {
  0% {
    font-variation-settings: "term" 0, 'wdth' 0, 'wght' 50;
  }
  100% {
    font-variation-settings: "term" 100, 'wdth' 100, 'wght' 200;
  }
}